h1 {color: #880000;
    font-weight: bold;
    font-size: 50px;
    font-family: Arial;}
h2 {color: #880000;
    font-weight: bold;}
h3 {color: #880000;
    font-weight: bold;}
p {color: black;
   font-family: Arial;
   font-size: 20px;
   font-style: italic;}
